<% provide(:title, 'cars') %>

<div class="row">

	<div class="span8">

		<div class="dealernav"><h1>All Cars</h1></div>

		<%= will_paginate @cars %>

		<ul class="cars">
		  <%= render @cars %>
		</ul>

		<%= will_paginate @cars%>

		<%= button_to "New Car", new_car_path, class: "btn btn-large btn-primary", method: :get %>

	</div>

</div>